<%- include('partials/_header') %>

  <div class="container">
    <div id="stories" class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-5">
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title1</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title2</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title3</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title4</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title5</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="box-sizing: 10em;">
          <img class="card-img-top"
            src="https://img.freepik.com/free-vector/blank-open-book_1308-23167.jpg?w=1380&t=st=1690898073~exp=1690898673~hmac=dcae658150a066d98d974f056d21310ffdd52b4686acba385118270f83eee153">
          <div class="card-body">
            <h2 class="card-title">Title6</h2>
            <span class="card-subtitle">author</span>
            <div class="card-text">
              Lorem ipsum dolor sit amet consectetur. Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Illo est laudantium culpa? Officia deleniti dolorum saepe porro provident voluptates magni?
              Repudiandae tempore, assumenda fuga beatae odio suscipit eius quibusdam nostrum cum accusantium,
              distinctio voluptatem!
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </body>

  </html>