<%- include('partials/_header') %>

  <section class="mt-5">
    <div id="new_story" class="card container-lg">
      <div class=" text-center">
        <h3 class="card-title mt-3">Create A Story</h3>
        <p class="card-subtitle">"your story is only a few short clicks and typos away"</p>
      </div>
      <div class="row justify-content-center my-5">
        <div class="col-lg-6">
          <form action="/story" method="post">

            <label for="title" class="form-label mt-3">Title:</label>
            <input name="title" type="title" class="form-control" id="title" placeholder="What should we call your story?" required>

            <label for="Description" class="form-label mt-3">Description:</label>
            <input type="text" class="form-control" id="description" name="description"
              placeholder="In a few words what will your story be about?" rows="2" required>

            <label for="Content" class="form-label mt-3">Content:</label>
            <textarea name="content" type="text" class="form-control" id="content"
              placeholder="Let's get started, shall we?" style="height: 140px" required></textarea>

            <div class="mb-4 mt-5 text-center">
              <button type="submit" class="btn btn-outline-primary col-lg-3" style="border-radius: 5em;">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  </body>

  </html>
