<!DOCTYPE html>
<html lang="en">

<head>
  <title>CREATE A STORY</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-3dZ9wIrMMij8rOH7X3kLfXAzwtcHpuYpEgQg1OA4QAob1e81H8ntUQmQm3pBudqIoySO5j0tHN4ENzA6+n2r4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="body-form">
    <form action="/story" method="post">
      <div class="form-group">
        <label for="title">Title</label>
        <textarea class="form-control" id="title" name ="title" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description"  name ="description" rows="2"></textarea>
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea class="form-control-lg" id="content"  name = "content" rows="8"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">CREATE</button>
    </form>
  </div>
</body>
</html>
