.container {
  margin: 0 auto;
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
  width: 100%;
}

.card-input {
  margin: 10px;
  padding: 0px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked+.card-input {
  box-shadow: 0 0 3px 3px blueviolet;
}

ion-icon.active {
  animation: like 0.5s 1;
  fill: red;
  stroke: none;
}

ion-icon {
  fill: transparent;
  stroke: black;
  stroke-width: 30;
  transition: all 0.5s;
  padding-top: 5px;
}