body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: linear-gradient(
    227deg,
    rgba(163, 208, 219, 1) 0%,
    rgba(163, 176, 219, 1) 20%,
    rgba(163, 173, 219, 1) 34%,
    rgba(163, 219, 208, 1) 59%,
    rgba(163, 208, 219, 1) 74%,
    rgba(163, 208, 219, 1) 100%
  );

header {
display: flex;
flex-direction: row;
justify-self: flex-start;
align-self: center;
}

}
.body-form{
  display:flex;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;

  label {
    margin-right: 40px;
  }

textarea{
   width: 100%;
   background-color: orange;
}
.form-select{
  width: 80%;
  background-color: rgb(67, 67, 100);
}
button{
  width: 60%;
  margin-top:30px;
  height: 15vh;
  background-color: blue;
}
}
